<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApp2.My.MySettings.Database2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database2.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsApp2.My.MySettings.Database2ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\riyam\OneDrive\Desktop\data base\issue and return date\Database2.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="WindowsApp2.My.MySettings.Database3ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\riyam\OneDrive\Desktop\data base\issue and return date\Database3.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="WindowsApp2.My.MySettings.database4ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\riyam\OneDrive\Desktop\data base\insert books\database4.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="WindowsApp2.My.MySettings.Database6ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\riyam\OneDrive\Desktop\data base\student information\Database6.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="WindowsApp2.My.MySettings.database5ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\riyam\OneDrive\Desktop\data base\login\database5.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>